<html>
    <body> 
        <form action="/produtos" method="post">
            <div class="erros">
                <%if(errosValidacao){%>
                    <ul>
                        <%for(var i=0; i < errosValidacao.length;i++){%>
                                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                        <%}%>
                    </ul>
                <%}%>
                
            </div>
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo do livro aqui" />
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="150.25" />
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" type="text" id="descricao" name="descricao" placeholder="Fale sobre o livor"><%=produto.descricao%>
                    
                </textarea>
                
            </div>
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>
