<html>
    <body>
        <table>
            <tr>
                <td>Id</td>
                <td>Titulo</td>
                <td>Descricao</td>
                <td>Preço</td>
            </tr>
            <%for(var i=0;i<lista.length;i++){%>
                <tr>
                    <td>
                        <%=lista[i].id%>
                    </td>
                    <td>
                        <%=lista[i].titulo%>
                    </td>
                    <td>
                        <%=lista[i].descricao%>
                    </td>
                    <td>
                        <%=lista[i].preco%>
                    </td>
                </tr>
            <%}%>
            <tr></tr>
        </table>
    </body>
</html>
